@charset "UTF-8";


#logo{
	position: absolute; width: 124px; height: 45px; top: 34px; 
	left: 0px; right: 0px; margin: auto;
}

#vr{ position: absolute; width: 116px; height: 109px; top: 0; left: 80px; border-right: 1px solid #ccc; }

#number{ position: absolute; width: 205px; height: 109px; top: 0px; right: 0; border-left: 1px solid #ccc; }


/* --------------------------------------------------------------------------------------------------------- */


/* 맨 위 확장메뉴 */

.navi{
	width: 100%; position: absolute; top: 109px;
	left: 0; right: 0; margin: auto; height: 39px;
	border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; 
}

.navi>ul{list-style: none; position: absolute; left: 50%; margin-left: -364px;}

.navi>ul>li{
	float: left; position: relative; text-align: center;
	margin: 0 10px; top: -14px;
}

.navi > ul > li > a{
	position: relative; display: block; color: #4a4a4a; font-size: 16px;
	font-weight: 500; line-height: 39px; margin: 0; padding: 0 30px; text-decoration: none;
}

.navi>ul>li>a:hover{
	color: #fff;
	background: #716156;
}

/* 하위메뉴 글자 */
#s_wrap > ul > li > a{ font-size: 13px; color: #4c4c4c; font-weight: 500; text-decoration: none; }


#subMenu_wrap { background-color: #fff; width: 100%; position: absolute; top: 40px; z-index: 1; display:none}
#s_wrap { width: 765px; margin:0 auto; padding-left: 120px; }
#subMenu_wrap ul { display: inline-block; padding-right: 33px; text-align: center; float: left;}
#subMenu_wrap ul li { font-size: 13px; color: #4c4c4c; font-weight: 500; letter-spacing: -0.7px; padding: 4px 0px;}


/* --------------------------------------------------------------------- */

/* 왼쪽 사이드바 메뉴 */
ul, li { list-style: none; }

#left-q{
	height: 100%; background-color: #000; position: fixed;
	top: 0; left: 0; overflow: hidden; z-index:1;
}

#left-logo{
	width: 18px; height: 78px; position: absolute; top: 0; left: 0;
	padding: 36px 31px; background-color: #716156;
}

#left-q03{
	width: 100%; height: 240px; position: absolute; top: 150px; left: -42px;
}


#left-q03>li{
	width: 100%; height: 80px; position: relative; top: 0; bottom: 0;
	left: 0; right: 0; margin: auto; border-bottom: 1px solid #333;
}

#left-q03>li>a>img{
	margin-top: 28px;
	margin-left: 30px;
}

#left-menu{
	width: 100%; height: 15px; position: relative; top: 471px; left: 0;
	right: 0; margin: auto; text-align: center;
}

#scroll{
	position: absolute; top: 611px; left: 0; right: 0; width: 100%;
	text-align: center;
}

#scroll>p {
	color: #fff; font-size: 9px; margin-bottom: 68px; position: relative; top: -7px;
}

#line{
	width: 1px; background-color: #fff; position: absolute;
	top: 24px; left: 0; right: 0; margin: auto;
}








