@charset "UTF-8";



* {
	margin: 0px;
	list-style-type: none; /* 리스트 디스크 없애기*/
	text-decoration: none; /*밑줄 없애기*/
	border-collapse: collapse;
	margin: 0px; /*HTML 기본으로 들어있는 magin padding 없애기*/
	padding: 0px;
	color: #000;
}


.navi {
	width: calc(100% - 80px);
	height: 150px;
	background: blue;
}

#logo {
    width: 124px;
    height: 46px;
    
    position: absolute;
    top: 34px;
    left: 0;
    right: 0;
    margin: auto;
} 


  
#insta {
	width: 116px;
	height: 109px;
	position: absolute;
	top: 0;
	left: 0;
	border-right: 1px solid rgba(132, 132, 132, 0.33);
/* 	background-color: white; */
}



.main {
	display: flex;
	background : tomato;
    width: 100%;
    position: absolute;
    top: 109px;
    left: 0;
    right: 0;
    margin: auto;
    height: 39px;
    border-top: 1px solid rgba(132,132,132,0.33);
    border-bottom: 1px solid rgba(132,132,132,0.33);
}

.main > ul {
	display: flex;
	background: yellow;
	width: 1100px;
	height: 39px;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -364px;
}

.main > ul > li {
	background : white;
	display: flex;
	position:relative; 
	float:left; 
	text-align:center; 
	margin: 0 10px;   
}



.tel {

    width: 224px;
	height:109px;
    float: right;
    position: relative;

}


.tel > ul  {
/* 	background : maroon; */
    width: 224px;
	height:109px;
    float: right;
    position: relative;
    border-left: 1px solid rgba(132,132,132,0.33);
}





.left {
	width: 80px;
	height: 100px;
	background: black;
	position: fixed;
	top: 0;
	right: 0;
}

back {
	overflow :hidden;
}
.bg {
	width :80%;
	height:100%;
	
}
.foorter{
	display:inline;
}

.footer_right {
	text-align : left;
}


